:root {
  --color-light:#DEE2E6;
  --color-mid:#a7afb5;
  --color-mid-dark:#6C757C;
  --color-dark:#212529;
}

.header{
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 2em;
  background-color: var(--color-light);
}

.font-weight-bold{
  font-weight: bold;
} 
.font-size-larger{
  font-size: larger;
}

.body-container{
  min-height: 70vh;
  height: auto;
  background-color: var(--color-light);
  padding: 0.5em 2em;
}

.cardlike{
  /* aspect-ratio: 0.5; */
  background-color: var(--color-mid);
  color: var(--color-mid-dark);
  /* border: 1px solid rgba(41, 34, 34, 0.539); */
  /* border-radius: 5px; */
  height: auto;
}

.cardlike-m{
  min-height: 30vh !important;
}

.cardlike-noborder{
  border: none !important;
}

.cardlike-header{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  background-color: var(--color-light);
  padding: 0.5em 0.5em;
}

.footer{
  background-color: var(--color-dark);
  min-height: 25vh;
  color: var(--color-mid);
  padding: 1em 2em;
}